{% extends 'todo_base/main.html' %}
{% block content %}
<div class="header-bar-two">
    <h1>Sign up!</h1>
</div>
<div class="center-form">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top: 5px;" class="button" type="submit" value="Register">
    </form>
    <p> already have an account? <a href="{% url 'login' %}">Login!</a></p>
    {% endblock content %}
</div>
